section{
  header{
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);

      a{
        justify-self: end;
        align-items: center;
        gap: 8px;
        
        span{
          background-image: url(../assets/icons/ArrowRight.svg);
          width: 13px;
          height: 11px;
        }

        &:hover{
          span{
            background-image: url(../assets/icons/ArrowRight-hover.svg);
          }
        }    
      }   

  }
}

#featured{
  img{
    height: 100%;
    object-fit: cover;
  }
  
  .card{
    border-radius: 4px;
    /* O overflow é resposanvel por esconder tudo que "passa" da caixa */
    overflow: hidden;
    position: relative;
    /* Esse before é basicamente para por o gradiente no fundo */
    &::before{
      content: "";
      position: absolute;
      background: linear-gradient(
        180deg,
        transparent 0%,
        #020617 100%
      );
      inset: 0;
      top: 50%; /* Começa a partir do meio*/
    }

    figcaption{
      position: absolute;
      bottom:0;
      padding: 24px;
      
      /* Basicamente o figcaption olha pra ele mesmo e verifica se tem alguma classe .text-lg, 
      e se tiver eu aplico o padding de 12px */
      &:has(.text-lg){
        padding: 12px;
      }

      h2{
        margin-top: 8px;
      }
    }
  }
}

#weekly{
  /* A primeira div depois do weekly */
  &>div{
    grid-template-columns: repeat(4,292px);
  }

  img{
    height: 160px;
  }

  figure{
    position: relative;

    .content-tag{
      position: absolute;
      top: 8px;
      left: 8px;
    }

    p{
      margin-top: 8px;
      font-weight: 800;
    }
  }

  
}